<style type="text/css">

	.well {
		display: flow-root;
	}

	.il-workflow.linear .il-workflow-steps {
	    margin-top: 50px;
	}
	
	.il-workflow.linear.x-axis .il-workflow-step {
		margin-bottom: 10px;
	    width: 20%;
	    float: left;
	}

	.il-workflow.linear .il-workflow-steps .il-workflow-step .box {
		height: 70px;
	}

	.il-workflow.linear.x-axis .il-workflow-steps .il-workflow-step .box {
		height: 100px;
	}

	.il-workflow.linear .il-workflow-step .line {
	    border-left: 1px dashed #000;
	    height: 90%;
	    left: 15px;
	    position: relative;
	}

	.il-workflow.linear.x-axis .il-workflow-step .line {
		left: 0;
	}

	.il-workflow.linear .il-workflow-step.last .line {
		border: none;
	}

	.il-workflow.linear .il-workflow-step .status {
		left: -15px;
	}

	.il-workflow.linear.x-axis .il-workflow-steps .il-workflow-step .line {
        position: relative;
    	border-top: 1px dashed #c9d0da;
    	border-left: none;
	}

	.il-workflow.linear.x-axis .il-workflow-step.first .line,
	.il-workflow.linear.x-axis .il-workflow-step.last .line {
	}

	.il-workflow.linear.x-axis .il-workflow-step.first .line {
	}	

	.il-workflow.linear .il-workflow-steps .il-workflow-step .status {
	    width: 20px;
	    height: 20px;
	    background-color: #4c6586; /*@brand-primary*/
	    position: relative;
	    bottom: 12px;
	    float: left;
	    margin-left: 5px;
	}

	.il-workflow.linear .il-workflow-steps .il-workflow-step.first .status,
	.il-workflow.linear .il-workflow-steps .il-workflow-step.active .status,
	.il-workflow.linear .il-workflow-steps .il-workflow-step.last .status,
	.il-workflow.linear.x-axis .il-workflow-steps .il-workflow-step .status {
		margin-left: 0px;
	}

	.il-workflow.linear.x-axis .il-workflow-steps .il-workflow-step .status {
		margin: 0 auto;
		float: none;
	}

	.il-workflow.linear .il-workflow-steps .il-workflow-step.first .status, 
	.il-workflow.linear .il-workflow-steps .il-workflow-step.last .status {
	    border-radius: 20px;
	    width: 30px;
	    height: 30px;
	}

	.il-workflow.linear.x-axis .il-workflow-steps .il-workflow-step.first .status, 
	.il-workflow.linear.x-axis .il-workflow-steps .il-workflow-step.last .status {
		bottom: 16px;
	}

	.il-workflow-step.first .text, 
	.il-workflow-step.last .text {
	    position: relative;
	    bottom: 10px;
	}	

	.il-workflow.linear .il-workflow-step .il-workflow-step-label,
	.il-workflow.linear .il-workflow-step .il-workflow-step-description {
		display: block;
	}

	.il-workflow.linear .il-workflow-step.active .status {
	    bottom: 18px;
	    width: 30px;
	    height: 30px;
	}

	.il-workflow.linear.x-axis .il-workflow-step.active .status {
		bottom: 22px;
	}

	.il-workflow.linear .il-workflow-step.completed .status {
		background-color: #6ea03c; /*brand-success*/
	}

	.il-workflow.linear .il-workflow-step.completed .status:before, 
	.il-workflow.linear .il-workflow-step.completed .status:after {
	    content: "";
	    background-color: #fff;
	    width: 2px;
	    height: 15px;
	    position: relative;
	    top: 1px;
	    left: 12px;
	    display: inline-block;
	    transform: rotate(40deg);
	}

	.il-workflow.linear .il-workflow-step.completed .status:after {
	    transform: rotate(-50deg);
	    height: 7px;
	    left: 3px;
	}

	.il-workflow.linear .il-workflow-step.first.completed .status:before, 
	.il-workflow.linear .il-workflow-step.last.completed .status:before {
	    left: 16px;
	    top: 6px;
	}

	.il-workflow.linear .il-workflow-step.first.completed .status:after, 
	.il-workflow.linear .il-workflow-step.last.completed .status:after {
	    left: 7px;
	    top: 5px;
	} 

	.il-workflow.linear .il-workflow-step.notstarted .status {
		background-color: #c3cad4; /*@brand-info  30% Deckkraft*/
	}

	.il-workflow.linear .il-workflow-step.notapplicable .text {
		opacity: .3;
	}

	.il-workflow.linear .il-workflow-step.notapplicable .status {
		background-color: #e6e6e6;
	}

	.il-workflow.linear .il-workflow-step.active .text {
	    position: relative;
	    bottom: 14px;
	}

	.il-workflow.linear .il-workflow-step .text {
	    padding-left: 35px;
        position: relative;
    	bottom: 10px;
	}

	.il-workflow.linear.x-axis .il-workflow-step .text {
	    padding-left: 0px;
	    bottom: 0;
	}

	.il-workflow.linear.x-axis .il-workflow-steps .il-workflow-step span {
		text-align: center;
	}

	.il-workflow.linear .il-workflow-step span.il-workflow-step-label {
		font-weight: 600;
	}

	.il-workflow.linear .il-workflow-step span.il-workflow-step-label:first-letter {
		text-transform: uppercase;
	}

	.il-workflow.linear .il-workflow-step.active span.il-workflow-step-label {
		color: #4c6586; /*@brand-primary*/
		font-size: 1.3em;
	}

	/*.il-workflow.linear .il-workflow-step .line-y {
	    width: 1px;
	    height: 40px;
	    border-left: 1px dashed #4c6586; /*@brand-primary*//*
	    margin: -10px auto;
	    position: relative;
	    bottom: 17px;
	    opacity: .2;
	}*/

	pre.php {
	    clear: both;
	}

</style>



<div class="il-workflow linear x-axis">  <!-- BEGIN horizontal -- x-axis -- END horizontal -->
	<div class="il-workflow-header">
		<h3 class="il-workflow-title">{TITLE}</h3>
	</div>
	<div class="il-workflow-steps">
	<!-- BEGIN step -->
		<div class="il-workflow-step
			<!-- BEGIN inactive --> inactive<!-- END inactive -->
			<!-- BEGIN active --> active<!-- END active -->
			<!-- BEGIN first --> first<!-- END first -->
			<!-- BEGIN last --> last<!-- END last -->
			<!-- BEGIN status_notapplicable --> notapplicable<!-- END status_notapplicable -->
			<!-- BEGIN status_notstarted --> notstarted<!-- END status_notstarted -->
			<!-- BEGIN status_inprogress --> inprogress<!-- END status_inprogress -->
			<!-- BEGIN status_completed --> completed<!-- END status_completed -->
		">
			<div class="box">
				<div class="line">
					<div class="status"></div>
					<div class="text">
						<span class="il-workflow-step-label">{LABEL}
						</span>
						<span class="il-workflow-step-description">{DESCRIPTION}</span>
					</div>		
				</div>		
			</div>
			<!-- should be used with verital line
			<div class="line-y"></div> 
			-->
		</div>

	<!-- END step -->
	</div>
</div>