<div class="il-workflow linear">
	<div class="il-workflow-header">
		<h3 class="il-workflow-title">{TITLE}</h3>
	</div>
	<div class="il-workflow-steps">
	<!-- BEGIN step -->
		<div class="il-workflow-step
			<!-- BEGIN inactive --> inactive<!-- END inactive -->
			<!-- BEGIN active --> active<!-- END active -->
			<!-- BEGIN first --> first<!-- END first -->
			<!-- BEGIN last --> last<!-- END last -->
		">
			<span class="il-workflow-step-label">{LABEL}</span>
			<span class="il-workflow-step-description">{DESCRIPTION}</span>
		</div>
	<!-- END step -->
	</div>
</div>