ul.il-workflow-container {
	list-style: none;
	padding: 0;
}

li.il-workflow-step:before {
		background-color: #fff;
		border: 1px solid #4c6586; /*@brand-primary*/
		border-radius: 50%;
		color: #fff;
		content: "";
		font-family: Glyphicons Halflings;
		font-size: 12px;
		height: 20px;
		line-height: 1.6em;
		margin-left: 5px;
		padding-left: 1px;
		position: absolute;
		text-align: center;
		width: 20px;
}

li.il-workflow-step.completed-successfully:before,
li.il-workflow-step.not-yet-available.completed-successfully:before {
	content: "\e013";
	background-color: #ddd; /*border-gray*/
	color: #fff;
}

li.il-workflow-step.completed-unsuccessfully:before,
li.il-workflow-step.not-yet-available.completed-unsuccessfully:before {
	content: "\e014";
	background-color: #ddd; /*border-gray*/
	color: #fff;
}

li.il-workflow-step.not-yet-available:before,
li.il-workflow-step.no-longer-available:before {
	content: "\e033";
	color: #ddd; /*@border-gray*/
	background-color: #f5f5f5;
	border: none;
}

li.il-workflow-step.no-longer-available:before {
	content: "\e023"; /*2212*/
	font-size: 1em;
	line-height: 1.5em;
}

li.il-workflow-step.available.completed-successfully:before,
li.il-workflow-step.available.completed-unsuccessfully:before,
li.il-workflow-step.in-progress:before {
	background-color: #4c6586; /*@brand-primary*/
}

li.il-workflow-step.inprogress.no-longer-available:before,
li.il-workflow-step.inprogress.not-yet-available:before {
	background-color: #a5b2c2; /*50% @brand-primary*/
}

li.il-workflow-step.in-progress:before {
	color: #fff;
}

li.il-workflow-step.active:before {
	margin: 5px 0 0 0;
	width: 30px;
	height: 30px;
}

li.il-workflow-step .text {
	border-left: 1px dashed #434343; /*@mid-gray*/
	margin-left: 15px;
	padding: 0 0 30px 20px;
}

li.il-workflow-step:last-child .text {
	border-left: none;
}

li.il-workflow-step .text span.il-workflow-step-label {
	font-weight: 600;
	display: block;
}

li.il-workflow-step.active .text {
	padding-left: 40px;
}

li.il-workflow-step.active .text span.il-workflow-step-label {
	color: #4c6586; /*@brand-primary*/
	font-size: 1.4em;
}

li.il-workflow-step.not-yet-available .text,
li.il-workflow-step.no-longer-available .text {
	color: #ddd; /*@border-gray*/
}

li.il-workflow-step.inprogress.no-longer-available .text span,
li.il-workflow-step.inprogress.not-yet-available .text span {
	color: #333;
	opacity: .5;
}
