@workflow-icon-width: 20px;

.il-workflow-header {
	margin-bottom:  @padding-base-horizontal;
	height: @il-top-bar-height;
}

.il-workflow.linear {

	.il-workflow-steps {
 		margin-top:  @workflow-icon-width / 2;
 		margin-left: @workflow-icon-width / 2 + 10;


		.il-workflow-step {

			.status {
				width: @workflow-icon-width;
			    height: @workflow-icon-width;
			    position: relative;
			    margin-left: @workflow-icon-width / 2 * -1;
			}

			/*round icons*/
			&.first,
			&.last {
				.status {
			    	border-radius: 50%;
			    }
			}

			/*icon with check*/
			&.completed {
				.status {
					background-color: @brand-success !important;
					&:before {
						content: "\e013";
					    font-family: 'Glyphicons Halflings';
					    color: #fff;
					    position: relative;
					    font-size: @workflow-icon-width * 0.7;
					    left: 10%;
					}
				}
			}

			/*big icons*/
			&.first,
			&.last,
			&.active {
				.status {
					width: @workflow-icon-width * 1.5;
					height: @workflow-icon-width * 1.5;
					margin-left: @workflow-icon-width * 1.5 / 2 * -1;

			    	background-color: @brand-primary;
				}
				&.completed {
					.status:before {
						font-size: @workflow-icon-width * 1.5 * 0.7;
					}
				}
			}

			&.notstarted {
				.status {
					background-color: #c3cad4;/*@brand-info  30% Deckkraft*/
				}
			}

			&.notapplicable {
				.status {
					background-color: #e6e6e6;
				}
			}
			&.inprogress {
				.status {
					background-color: @brand-primary;
				}
			}

			.line {
			    border-left: 1px dashed #c9d0da;
			    left: @workflow-icon-width / 2;
				.text {
					position: relative;
			    	top: @workflow-icon-width * -1;
					/*always big-icon-spacing*/
			    	left: @workflow-icon-width * 1.5;
				}
			}

			/*big icons*/
			&.first,
			&.last,
			&.active {
				.text {
			    	top: @workflow-icon-width * -1.5;
				}
			}

			&.active {
				.il-workflow-step-label {
			    	font-size: 120%;
			    	color: @brand-primary;
				}
			}

			&.last {
				.line {
					border: none;
				}
			}
		}
	}

	.il-workflow-step-label,
	.il-workflow-step-description {
		display: block;
	}
	.il-workflow-step-label{
		font-weight: 600;
	}




	&.x-axis {

		.il-workflow-step-label,
		.il-workflow-step-description {
 			overflow-wrap: break-word;
		}

		.il-workflow-step {
			display:inline-block;
		    width: 20%;
		    margin-bottom: @workflow-icon-width * 3;

		    .line {
		    	border-top: 1px dashed #c9d0da !important;
		    	border-left: none;
				top: @workflow-icon-width * -0.5;
				position: relative;
		    }

			.status {
				margin: 0 auto !important;
				top: @workflow-icon-width * -0.5;
			}

			/*big icons*/
			&.first,
			&.last,
			&.active {
				.line {
					top: 0px;
				}
				.status {
					top: @workflow-icon-width * 1.5 * -0.5;
				}
			}

			.text {
			    position: initial !important;
    			text-align: center;
	    		margin-top: 0px;
			}

			&.active .il-workflow-step-label{
				line-height: 120%;
			}
		}
	}
}
