<div class="il-layout-page-sidebar" id="{ID}">

	<div class="il-sidebar-triggers">

		<!-- BEGIN tools_trigger -->
		<div class="il-sidebar-tools-button">
			{BUTTON}
		</div>
		<!-- END tools_trigger -->

		<div class="il-sidebar-entries">
			<!-- BEGIN trigger_item -->
			{BUTTON}
			<!-- END trigger_item -->
		</div>

	</div>


	<div class="il-sidebar-slates">

		<div class="il-sidebar-tool-triggers">
			<!-- BEGIN tools_trigger_item -->
				{BUTTON}
			<!-- END tools_trigger_item -->
		</div>

		<!-- BEGIN slate_item -->
		{SLATE}
		<!-- END slate_item -->
	</div>

</div>
