.il-maincontrols-metabar {
	display: flex;
    justify-content: space-between;
    align-items: center;
	.il-metabar-entries {
		align-items: center;
		display: flex;
		height: @height-header;
		.il-metabar-entry,
		.il-logout {
			padding-left: 10px;
		}
	}
}

.il-metabar-entry {
	position: relative;
	.il-counter-status {
		margin-top: 0;
	}
	// no display labels in metabar level 1
	> .btn-bulky > div > .bulky-label {
		display: none;
	}
	.btn-bulky {
		background-color: transparent;
		height: @height-metabar-entry;
		min-width: @width-metabar-entry;

		&.engaged,
		&.engaged:focus {
			.shadow-right;
			background-color: @bg-metabar-slates;
			border: none;
			color: initial;
			outline-color: transparent;
		}
		.glyphicon {
			color: @glyph-color;
			font-size: @glyph-size;
		}
	}
	.glyphicon {
	    font-family: 'il-icons';
	    width: @glyph-size;
	}
	.glyphicon-bell:before {
	    content: "\e858";
	}
	.glyphicon-comment:before {
	    content: "\e83f";
	}
	.glyphicon-envelope:before {
	    content: "\e818";
	}
	.glyphicon-question-sign:before {
	    content: "\e87d";
	}
	.glyphicon-search:before {
	    content: "\e86f";
	}
	.glyphicon-user:before {
	    content: "\e82a";
	}
}

.il-metabar-slates {
	.shadow-right;
    background-color: @bg-metabar-slates;
	min-width: 250px;
	position: absolute;
	right: 0;
}
