.il-maincontrols-metabar {
	display: flex;
    justify-content: space-between;
    align-items: center;
	.il-metabar-entries {
		align-items: center;
		display: flex;
		height: @height-header;
		.il-metabar-entry,
		.il-logout {
			padding-left: 10px;
		}
	}
}

.il-metabar-entry {
	position: relative;
	.il-counter-status {
		margin-top: 0;
	}
	.btn-bulky {
		background-color: transparent;
		& > div > .bulky-label {
			display: none; // not display labels
		}
		.glyphicon {
			color: @glyph-color;
			font-size: @glyph-size;
		}
	}
}

.il-metabar-slates {
    background: @bg-metabar-slates;
	min-width: 150px;
	position: absolute;
	right: 0;
}
